// ------------------------------

// Text Colors
$txt-primary-main: # ;
$txt-primary-hover: # ;
$txt-primary-active: #  ;
$txt-primary-disabled: #  ;

$txt-secondary-main: #  ;
$txt-secondary-hover: #  ;
$txt-secondary-active: #  ;
$txt-secondary-disabled: #  ;

$txt-accent-main: #  ;
$txt-accent-hover: #  ;
$txt-accent-active: #  ;
$txt-accent-disabled: #  ;

// ------------------------------

// Main Colors
$main-primary-main: # ;
$main-primary-hover: # ;
$main-primary-active: #  ;
$main-primary-disabled: #  ;

$main-secondary-main: #  ;
$main-secondary-hover: #  ;
$main-secondary-active: #  ;
$main-secondary-disabled: #  ;

$main-accent-main: #  ;
$main-accent-hover: #  ;
$main-accent-active: #  ;
$main-accent-disabled: #  ;

// ------------------------------